<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Toeic five</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application_smart_phone", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<%= render 'common/login_info_smart_phone' %>
<%= render 'common/menu_smart_phone' %>
<hr/>
<% end %>
<p id="notice"><%=notice %></p>
<p id="alert"><%=alert %></p>
<%= yield %>
</body>
</html>
